<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/commons/js/commoncss.js"></script>

</head>
<div class="container-wrap" id="cap"></div>
<!--HEADER-->
<div id="header" class="clear">
    <div class="header-wrapper">
        <!--LOGO-->
        <div class="logo">
            <h1><a href="/views/index.html"><img src="/views/img/logo.png" alt="" title="" /></a></h1>
        </div>
        <!--MENU-->
        <nav id = "main-nav-menu">
            <ul class="sf-menu">
                <li class="active"><a href="index.html" target="_self">小筑首页</a>
                </li>
                <li><a href="#">团队组成</a>
                </li>
                <li> <a href="#">小筑公告</a>
                </li>
                <li><a href="#">小筑培训</a>
                </li>
                <li><a href="#">小筑博客</a>
                </li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </nav>
        <!-- end menu -->
        </div>
    <div class="clear"></div>
    </div>
<body>
</body>
</html>