<!DOCTYPE html>
<html lang="en" ng-app="zn-index">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="紫牛小筑, IT, 培训, 博客, 极客, 个人网站, hzqiuxm" />
<meta name="description" content="紫牛小筑" />
<!--<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />-->
<script type="text/javascript" src="/commons/js/commoncss.js"></script>
<script type="text/javascript" src="/commons/js/commonjs.js"></script>

<title>紫牛小筑</title>
</head>
<body ng-controller="nanController">
<!--<IFRAME NAME="content_frame" scrolling = "no" marginwidth=0 marginheight=0 width=100%  SRC="/views/header.html"></IFRAME>-->
    <!--<select id = "responsive-main-nav-menu" onchange = "javascript:window.location.replace(this.value);"></select>-->
<div ng-include="'/views/top.html'"></div>
<!--WELCOME-->
<div class="small-description-2">
  <h2> <span> 【每日精进】 </span></h2>
  <label>{{ dailywords.english }}</label>
  <label> {{dailywords.chinese}} </label>
</div>
<!--SITE CONTAINER-->
<div id="container">
  <!--SITE CONTENTS-->
  <div id="contents-1" class="clear">
    <!--SLIDER-->
    <div id="slider" class="flexslider">
      <ul class="slides">
        <li><img src="/views/img/gallery/1.jpg" alt="" title="" />
          <h2>- 终身学习策略思维转变</h2>
          <p class="flex-caption">在今后的趋势下，终身学习将不再是美德，而是我们不得不采取的一种生存策略。</p>
          <a href="#" class="round button-c1">read more</a> </li>
        <li><img src="/views/img/gallery/2.jpg" alt="" title="" />
          <div class="flex-caption-round">
            <h2>- 关于学习 </h2>
            <p class="flex-caption">只在原有管道增加信息量的是无效学习，我们必须听到不同声音，解构改变文化思想结构才是有效学习。</p>
            <a href="#" class="round button-c1">read more</a></div>
        </li>
        <li><img src="/views/img/gallery/3.jpg" alt="" title="" />
          <h2>- 2016年终寄语</h2>
          <p class="flex-caption">言或自生天趣，事当曲尽人情。有情感有智慧的说话，很用心的把事情做好。另外记住：努力重要，方向感更重要！</p>
          <a href="#" class="round button-c1">read more</a> </li>
      </ul>
    </div>
    <div class="has-divider"></div>
    <!--MAIN CONTENT-->
    <div class="fullwidth">
      <!--SERVICES-->
      <div class="main-services clear">
        <ul>
          <li class="bt-30"> <img src="/views/img/icons/01_A.png" alt="" title="" />
            <h4>软件开发</h4>
            <p>Lorem ipsum dolor sit amet, elscitere consectetur adipisicing elit, sed reser do eiusmod tempor incididunt receser labore et dolore magna aliqua.</p>
            <a href="#">&mdash; read more &mdash;</a> </li>
          <li class="bt-30 second"> <img src="/views/img/icons/02_A.png" alt="" title="" />
            <h4>读书分享</h4>
            <p>Lorem ipsum dolor sit amet, elscitere consectetur adipisicing elit, sed reser do eiusmod tempor incididunt receser labore et dolore magna aliqua.</p>
            <a href="#">&mdash; read more &mdash;</a> </li>
          <li class="bt-30-2"> <img src="/views/img/icons/03_A.png" alt="" title="" />
            <h4>认知升级</h4>
            <p>Lorem ipsum dolor sit amet, elscitere consectetur adipisicing elit, sed reser do eiusmod tempor incididunt receser labore et dolore magna aliqua.</p>
            <a href="#">&mdash; read more &mdash;</a> </li>
          <li class="last"> <img src="/views/img/icons/04_A.png" alt="" title="" />
            <h4>斜杠人生</h4>
            <p>Lorem ipsum dolor sit amet, elscitere consectetur adipisicing elit, sed reser do eiusmod tempor incididunt receser labore et dolore magna aliqua.</p>
            <a href="#">&mdash; read more &mdash;</a> </li>
        </ul>
      </div>
      <div class="has-divider"></div>
      <!--Gallery & Tabs-->
      <div class="home-rc clear">
        <div class="fancy-text">
          <h3>精选课程</h3>
          <p>一些精选出的热门课程，应该会有你感兴趣的.</p>
          <a href="#">read more &mdash;</a> </div>
        <!--Gallery-->
        <div class="gallery four-columns clear">
          <div id="carousel" class="es-carousel-wrapper nav-none">
            <div class="es-carousel">
              <ul>
                <li><a href="/views/img/client/large1.jpg" rel="gallery"><span class="rollover-zoom">&nbsp;</span><img src="/views/img/client/client1.png" alt="" title="" /></a><a href="/views/img/client/large2.jpg" rel="gallery" class="m-bot3"><span class="rollover-zoom">&nbsp;</span><img src="/views/img/client/client2.png" alt="" title="" /></a></li>
                <li><a href="/views/img/client/large3.jpg" rel="gallery"><span class="rollover-zoom">&nbsp;</span><img src="/views/img/client/client3.png" alt="" title="" /></a><a href="/views/img/client/large4.jpg" rel="gallery" class="m-bot3"><span class="rollover-zoom">&nbsp;</span><img src="/views/img/client/client4.png" alt="" title="" /></a></li>
                <li><a href="/views/img/client/large5.jpg" rel="gallery"><span class="rollover-zoom">&nbsp;</span><img src="/views/img/client/client5.png" alt="" title="" /></a><a href="/views/img/client/large6.jpg" rel="gallery" class="m-bot3"><span class="rollover-zoom">&nbsp;</span><img src="/views/img/client/client6.png" alt="" title="" /></a></li>
                <li><a href="/views/img/client/large7.jpg" rel="gallery"><span class="rollover-zoom">&nbsp;</span><img src="/views/img/client/client7.png" alt="" title="" /></a><a href="/views/img/client/large8.jpg" rel="gallery" class="m-bot3"><span class="rollover-zoom">&nbsp;</span><img src="/views/img/client/client8.png" alt="" title="" /></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="has-divider"></div>
      <!--BANNER-->
      <div class="clear">
        <div class="fancy-text">
          <h3>我们是谁？</h3>
          <p>我们是一群斜杠青年，有的是文艺诗人，有的是摄影达人，有的是健身专家，有的是美食家...不过我们有一个共同的身份——程序猿.</p>
          <a href="#">read more &mdash;</a> </div>
        <div id="widget_my_cyclewidget" class="clear">
          <ul class="banners_cycle">
            <li class="banners_item style-1 ">
              <div class="tail">
                <div class="inner">
                  <h4>临江仙</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam adipiscing.</p>
                  <a href="#" class="button">Read More</a> </div>
              </div>
            </li>
            <li class="banners_item style-2 nomargin">
              <div class="tail">
                <div class="inner">
                  <h4>虚位以待</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam adipiscing.</p>
                  <a href="#" class="button">Read More</a> </div>
              </div>
            </li>
            <li class="banners_item style-3 ">
              <div class="tail">
                <div class="inner">
                  <h4>虚位以待</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam adipiscing.</p>
                  <a href="#" class="button">Read More</a> </div>
              </div>
            </li>
            <li class="banners_item style-4 nomargin">
              <div class="tail">
                <div class="inner">
                  <h4>虚位以待</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam adipiscing.</p>
                  <a href="#" class="button">Read More</a> </div>
              </div>
            </li>
            <li class="banners_item style-5 ">
              <div class="tail">
                <div class="inner">
                  <h4>虚位以待</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam adipiscing.</p>
                  <a href="#" class="button">Read More</a> </div>
              </div>
            </li>
            <li class="banners_item style-6 nomargin">
              <div class="tail">
                <div class="inner">
                  <h4>虚位以待</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam adipiscing.</p>
                  <a href="#" class="button">Read More</a> </div>
              </div>
            </li>
          </ul>
          <!-- end of photos_cycle -->
        </div>
      </div>
      <div class="has-divider"></div>
      <!--BLOG-->
      <div class="blog blist clear">
        <div class="fancy-text">
          <h3>最新线下活动</h3>
          <p>我们最新的一些线下活动，欢迎你的加入.</p>
          <a href="#">read more &mdash;</a> </div>
        <div id="carousel-home-blog" class="es-carousel-wrapper nav-none">
          <div class="es-carousel">
            <ul>
              <li> <a href="#" class="img-title"><span class="rollover-list">Read More</span><img src="/views/img/blog/bthumb2.jpg" alt="" title="" /></a>
                <div class="desc">
                  <h5><a href="#">Marketing</a></h5>
                  <p>Dicam invidunt torquatos duo ne, ut noluisse molestiae maiestatis...</p>
                </div>
              </li>
              <li> <a href="#" class="img-title"><span class="rollover-list">Read More</span><img src="/views/img/blog/bthumb3.jpg" alt="" title="" /></a>
                <div class="desc">
                  <h5><a href="#">Express Manicure</a></h5>
                  <p>Dicam invidunt torquatos duo ne, ut noluisse molestiae maiestatis...</p>
                </div>
              </li>
              <li> <a href="#" class="img-title"><span class="rollover-list">Read More</span><img src="/views/img/blog/bthumb4.jpg" alt="" title="" /></a>
                <div class="desc">
                  <h5><a href="#">Express Pedicure</a></h5>
                  <p>Dicam invidunt torquatos duo ne, ut noluisse molestiae maiestatis...</p>
                </div>
              </li>
              <li> <a href="#" class="img-title"><span class="rollover-list">Read More</span><img src="/views/img/blog/bthumb2.jpg" alt="" title="" /></a>
                <div class="desc">
                  <h5><a href="#">Marketing</a></h5>
                  <p>Dicam invidunt torquatos duo ne, ut noluisse molestiae maiestatis...</p>
                </div>
              </li>
              <li> <a href="#" class="img-title"><span class="rollover-list">Read More</span><img src="/views/img/blog/bthumb3.jpg" alt="" title="" /></a>
                <div class="desc">
                  <h5><a href="#">Express Manicure</a></h5>
                  <p>Dicam invidunt torquatos duo ne, ut noluisse molestiae maiestatis...</p>
                </div>
              </li>
              <li class="last"> <a href="#" class="img-title"><span class="rollover-list">Read More</span><img src="/views/img/blog/bthumb4.jpg" alt="" title="" /></a>
                <div class="desc">
                  <h5><a href="#">Express Pedicure</a></h5>
                  <p>Dicam invidunt torquatos duo ne, ut noluisse molestiae maiestatis...</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="has-divider"></div>
      <!--Tagline-->
      <div class="tagline">
        <h2>你是一个拥有梦想的极客吗? 你是一个对未来充满渴望的人吗？</h2>
        <p> 如果你不满现状，梦想有一个非常精彩的人生;自信且具有智力上的优越感; 崇尚平等,不迷信权威;拥有创新的精神;</p>
        <a class="button-medium">We Want You!</a></div>
    </div>
  </div>
</div>
<!--Footer-->
<div id="footer" class="clear">
  <!--BOTTOM COLUMNS-->
  <div id="footer-columns" class="clear">
    <div class="footer-wrapper">
      <!--TAGS-->
      <div class="tags">
        <h5>Tag Cloud</h5>
        <a href="#">博客</a><a href="#">培训</a> <a href="#">分享</a> <a href="#">工作</a> <a href="#">生活</a> <a href="#">互联网</a> <a href="#">云合同</a> </div>
      <!--ARCHIVES-->
      <div class="archive">
        <h5>Archives</h5>
      </div>
      <!--ABOUT-->
      <div class="about-brief">
        <h5>Text Widget</h5>
      </div>
    </div>
  </div>
  <!--FOOTER-->
  <div id="footer-bot">
    <div class="footer-wrapper">
      <label>&copy; 2016. 紫牛小筑. 浙ICP备16003595号-2  友情连接:
        <a href="http://www.hzqiuxm.com/" title="个人网站" target="_blank">[临江仙-个人网站] | </a>
        <a href="http://hzqiuxm.github.io/" title="个人博客" target="_blank">[菡萏如佳人-个人博客] | </a>
        <a href="http://www.chengqj.com/ " title="个人网站" target="_blank">[三台-个人网站] | </a>
        <a href="http://www.huzhiyu.com/" title="个人博客" target="_blank">[湖之鱼-个人博客] | </a>
        <a href="http://higuaifan.com/" title="个人网站" target="_blank">[菩萨蛮-个人网站] | </a>
      </label>
    </div>
  </div>
</div>
<a href="#" id="toTop">&uarr;</a>
<!--<script type="text/javascript" src="js/custom.js"></script>-->
<!--FOR PREVIEW ONLY-->
<script type="text/javascript" src="/views/settings/styleswitch.js"></script>
<script src="/views/js/common/week-nan.js"></script>

</body>
</html>
