<!DOCTYPE html>
<html lang="en">
<div class="container-wrap" id="cap"></div>
<!--HEADER-->
<div id="header" class="clear">
    <div class="header-wrapper">
        <!--LOGO-->
        <div class="logo">
            <h1><a href="http://ziniuxiaozhu.com"><img src="/views/img/logo.png" alt="" title="" /></a></h1>
        </div>
        <!--MENU-->
        <nav id = "main-nav-menu">
            <ul class="sf-menu sf-js-enabled">
                <li ng-class="{active:first}"><a href="/views/index.html" target="_self">小筑首页</a></li>
                <li ng-class="{active:second}"><a href="#">团队组成</a></li>
                <li ng-class="{active:third}"> <a href="#">小筑公告</a></li>
                <li ng-class="{active:four}"><a href="#" target="_parent">小筑培训</a>
                    <ul>
                        <li class="jump" data-jump="/views/lesson/choose-lessons.html"><a href="/views/lesson/choose-lessons.html" target="_parent">开始选课</a></li>
                        <li class="jump" data-jump="/views/lesson/show-lessons.html"><a href="/views/lesson/show-lessons.html" target="_parent">选课计划</a></li>
                        <!--<li><a href="/signup" target="_parent">报名上课</a></li>-->
                        <!--<li><a href="/views/week-report.html" target="_parent">开始选课</a></li>-->
                    </ul>
                </li>
                <li ng-class="{active:five}"><a href="#">小筑博客</a>
                    <ul>
                        <li><a href="/blog/myblogs" target="_parent">个人博客</a></li>
                        <li><a href="/blog/allblogs" target="_parent">小筑博客</a></li>
                        <!--<li><a href="/views/week-report.html" target="_parent">开始选课</a></li>-->
                    </ul>
                </li>
                <li ng-class="{active:six}"><a href="#" target="_parent">团队活动</a>
                    <ul>
                        <li class="jump" data-jump="/views/week-report/report-view.html"><a href="/views/week-report/report-view.html" target="_parent">周报提交</a></li>
                        <li><a href="/signup" target="_parent">上课报名</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- end menu -->
    </div>
    <div class="clear"></div>
</div>
</html>