<!DOCTYPE html>
<html lang="en">
<div class="container-wrap" id="cap"></div>
<!--HEADER-->
<div id="header" class="clear">
    <div class="header-wrapper">
        <!--LOGO-->
        <div class="logo">
            <h1><a href="/views/index.html"><img src="/views/img/logo.png" alt="" title="" /></a></h1>
        </div>
        <!--MENU-->
        <nav id = "main-nav-menu">
            <ul class="sf-menu sf-js-enabled">
                <li id="onepage"><a href="index.html" target="_self">小筑首页</a></li>
                <li id="twopage"><a href="#">团队组成</a></li>
                <li id="threepage"> <a href="#">小筑公告</a></li>
                <li id="fourpage" class="active"><a href="/blog" target="_parent">小筑培训</a>
                    <ul>
                        <li><a href="/views/choose-lessons.html" target="_parent">开始选课{{test}}</a></li>
                        <!--<li><a href="/views/week-report.html" target="_parent">开始选课</a></li>-->
                    </ul>
                </li>
                <li><a href="#">小筑博客</a>
                </li>
                <li id="fivepage"><a href="#" target="_parent">团队管理</a>
                    <ul>
                        <li><a href="/views/week-report.html" target="_parent">周报提交</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- end menu -->
    </div>
    <div class="clear"></div>
</div>
</html>